.ptm-games-list {
  display: flex;
  flex-direction: column;
}

.ptm-games-list__item {
  padding: 2rem 0;
  border-bottom: 1px solid var(--ptm-border);
}

.ptm-games-list__item:last-child {
  border-bottom: none;
}
